{{ partial "header.html" . }}

<div class="container">
    <article class="post-container" itemscope="" itemtype="http://schema.org/BlogPosting">
        {{ partial "post-header.html" . }}

        {{ partial "post-content.html" . }}

        {{ partial "post-footer.html" . }}

        {{ partial "disqus.html" . }}
    </article>
</div>

{{ partial "footer.html" . }}

{{ if .Page.Store.Get "hasMermaid" }}
  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true });
  </script>
{{ end }}